@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'MatterSQ-Medium';
  src: local('MatterSQ-Medium'),
    url(./fonts/MatterSQ-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'MatterSQ-Regular';
  src: local('MatterSQ-Regular'),
    url(./fonts/MatterSQ-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'MatterSQ-SemiBold';
  src: local('MatterSQ-SemiBold'),
    url(./fonts/MatterSQ-SemiBold.woff2) format('woff2');
}

html {
  font-family: 'MatterSQ-Regular', 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'MatterSQ-Regular', 'Inter var', sans-serif;
  }
}

h1,
h2,
h3 {
  font-family: 'MatterSQ-Medium';
}

body {
  margin: 0;
  font-family: 'MatterSQ-Regular', 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #131313;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url('/bg.png');
  background-size: cover;
  z-index: -1;
}

p {
  line-height: 1.4;
}

a {
  color: #2172e5;
  text-decoration: none;
  word-break: break-word;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 300px 640px;
  grid-gap: 48px;
  position: relative;
  box-sizing: border-box;
  /* min-height: 960px; */
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 48px; */
  position: relative;
  box-sizing: border-box;
  /* min-height: 960px; */
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  border-top: 1px solid #1f1f1f;
}

.featured a {
  color: #0f0f0f;
  text-decoration: none;
}

.featured .card:hover {
  scale: 1.01;
}

.card-wrapper {
  display: grid;
  max-width: 960px;
  min-width: 50vw;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 8px;
  padding: 1.5rem;
  height: 200px;
  max-width: 164px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: box-shadow 0.25s ease;
  scale: 1;
  background-color: white;
  text-decoration: none;
  color: #0f0f0f;
}

.card :hover {
  box-shadow: ;
}

.card a {
  color: #0f0f0f;
  text-decoration: none;
}

.card img {
  max-width: 64px;
  width: fit-content;
  margin-bottom: 2rem;
}

.lists-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
}

.list-title {
  font-weight: 500;
  color: #1f1f1f80;
}

.list-item {
  display: grid;
  max-width: 960px;
  grid-gap: 1rem;
  grid-template-columns: 1fr 128px 64px;
  height: fit-content;
  margin-bottom: 1rem;
}
.list-item p {
  margin: 0;
}

.list-item a {
  color: #2172e5;
}

.button {
  background-color: #010101;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.65rem;
  color: white;
  font-size: 14px;
  scale: 1;
  transform: all 0.3s ease;
}

.button.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button:hover {
  scale: 1.01;
}

.tag {
  font-size: 11px;
  background-color: rgb(230, 230, 230, 0.4);
  color: #858585;
  padding: 0.25rem 0.35rem;
  margin-right: 0.2rem;
  border-radius: 4px;
  width: fit-content;
}

.token-item a {
  color: #2172e5;
}

.token-icon {
  width: 16px;
  border-radius: 32px;
  background-color: white;
  height: 16px;
}

.replace {
  width: 16px;
  height: 16px;
  /* filter: invert(1); */
}

/* utils */

.flex-between {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
}

.reset {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 0.5rem;
}

.uniswap {
  color: #ff007a;
}

.helper {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);

  border-radius: 8px;
  font-size: 11px;
  font-style: italic;
  max-width: 200px;
}

@media screen and (max-width: 960px) {
  .content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 24px;
    padding: 0 1.5rem;
  }
  .home-content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 24px;
    padding: 0 1.5rem;
  }
  .hero {
    position: relative;
    top: initial;
    margin-top: 2rem;
  }
  .hero .title {
    font-size: 35px;
  }
  .info {
    position: relative;
    top: initial;
    margin-top: 2rem;
    height: fit-content;
    padding: 0;
  }
  .info .card {
    width: 100%;
    max-width: unset;
    box-sizing: border-box;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .home-content .featured {
    padding: 2rem 0 2rem 0;
  }
  .featured {
    padding: 0 0 2rem 0;
  }
  .hide-small {
    display: none;
  }
  .token-item {
    display: grid;
    max-width: 960px;
    grid-gap: 1rem;
    grid-template-columns: 24px 96px 1fr;
    margin-bottom: 1rem;
  }
}
