@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url('/bg.png');
  background-size: cover;
  z-index: -1;
}

p {
  line-height: 1.4;
}

a {
  color: #2172e5;
  text-decoration: none;
  word-break: break-word;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 300px 640px;
  grid-gap: 48px;
  position: relative;
  /* min-height: 960px; */
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 48px; */
  position: relative;
  /* min-height: 960px; */
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #1f1f1f;
  backdrop-filter: blur(12px);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.3);
}
.header a {
  color: #0f0f0f;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  border-top: 1px solid #1f1f1f;
  /* background-color: #0f0f0f; */
  /* color: white; */
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  transition: all 0.25s ease;
  position: sticky;
  top: 6rem;
  height: fit-content;
}

.nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.hero p {
  text-align: left;
  max-width: 450px;
  font-size: 18px;
  font-weight: 400;
}

.hero .title {
  text-align: left;
  max-width: 450px;
  font-size: 48px;
  margin-top: 0;
}

.hero .icon {
  width: 48px;
}

.hero .list {
  max-width: 960px;
}

.featured {
  /* background-color: #0f0f0f; */
  max-width: 640px;
  min-height: 400px;
  width: 100%;
  padding: 3rem 0 6rem 0;
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: sticky;
  top: 3rem; */
  height: fit-content;
}

.featured a {
  color: #0f0f0f;
  text-decoration: none;
}

.featured .card:hover {
  scale: 1.01;
}

.card-wrapper {
  display: grid;
  max-width: 960px;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 8px;
  padding: 1.5rem;
  /* min-width: 172px; */
  min-height: 220px;
  max-width: 172px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.25s ease;
  scale: 1;
  background-color: white;
  /* border: 1px solid black; */
  text-decoration: none;
  color: #0f0f0f;
}

.card :hover {
  box-shadow: ;
}

.card a {
  color: #0f0f0f;
  text-decoration: none;
}

.card img {
  max-width: 64px;
  width: fit-content;
  margin-bottom: 5rem;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
}

.search input:focus {
  background-color: white;
}

.lists-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
}

.list-title {
  font-weight: 500;
  color: #1f1f1f60;
}

.list-item {
  display: grid;
  max-width: 960px;
  grid-gap: 1rem;
  grid-template-columns: 1fr 128px 64px;
  height: 36px;
}

.list-item a {
  color: #2172e5;
}

.info {
  display: grid;
  grid-template-row: 224px 1fr;
  grid-gap: 2rem;
  max-width: 960px;
  box-sizing: border-box;
  padding: 3rem 0;
  min-height: 400px;
  position: sticky;
  top: 3rem;
  height: 400px;
}

.info-description {
  display: grid;
  grid-gap: 1rem;
  font-size: 1rem;
  max-width: 960px;
}

.info-description span p {
  margin: 0.25rem 0;
}

.info-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}

.button {
  background-color: #010101;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.65rem;
  color: white;
  font-size: 14px;
  scale: 1;
  transform: all 0.3s ease;
}

.button.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.button:hover {
  scale: 1.01;
}

.token-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  height: fit-content;
  min-height: 60vh;
}

.token-item {
  display: grid;
  max-width: 960px;
  grid-gap: 1rem;
  grid-template-columns: 1fr 128px 96px 128px;
  margin-bottom: 1rem;
}

.tag {
  font-size: 11px;
  background-color: rgb(230, 230, 230, 0.4);
  color: #858585;
  padding: 0.25rem 0.35rem;
  margin-right: 0.2rem;
  border-radius: 4px;
  width: fit-content;
}

.token-item a {
  color: #2172e5;
}

.token-info {
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-gap: 1rem;
  height: fit-content;
  align-items: center;
}

.token-info span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.token-icon {
  width: 16px;
  border-radius: 32px;
  background-color: white;
  height: 16px;
}

.replace {
  width: 16px;
  height: 16px;
  /* filter: invert(1); */
}

/* utils */

.flex-between {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
}

.reset {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 0.5rem;
}
